@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Fluxo de Caixa Simples com Impressão em PDF e Busca por Data e Tipo</p>
<p>Desenvolvido por: Edson de Araujo</p>
<p>Programador: Full Stack</p>
<p>Objetivo: Teste Entrevista</p>